* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 18px;
}

body {
    background-color: rgb(27, 27, 27);
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
.main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 100px 20px 20px 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: rgb(11 11 11);
}
nevbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #101010;
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.name {
    padding: 20px;
    font-size: 20px;
}

nevbar img {
    height: 62px;
    margin-left: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li {
    margin: 20px;
    list-style: none;
    cursor: pointer;
}

.searchbar {
    outline: none;
    border: none;
    padding: 3px 10px;
    border: 2px solid #444444;
    border-radius: 15px;
    background-color: #101010;
}

.playbar {
    background-color: black;
    width: 98.7vw;
    height: 80px;
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.playbar input {
    width: 80vw;
    height: 3px;
}

#playbar {
    cursor: pointer;
}

.play {
    text-align: inherit;
}

.material-symbols-outlined {
    margin: 5px 0px 0px 0px;
    cursor: pointer;
}

.sn {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    justify-content: end;
    width: 80%;
    height: 45px;
}

#gif {
    height: 15px;
    margin-right: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.volume {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px;
    align-items: center;
}

#vol {
    width: 100px;
    cursor: pointer;
}

#mic {
    margin-left: 18px;
    padding: 4px 4px 4px 4px;
    transition: all 0.2s ease-in-out;
}

#mic:hover {
    border-radius: 20px;
    background-color: rgb(33, 33, 33);
    scale: 1.2s;
}


h1 {
    font-size: 30px;
    margin: 30px;
    text-align: start;
}


.part1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    height: 232px;
    padding-left: 30px;
}
.part1 img{
    height: 200px;
    border-radius: 10px
}
.plname{
    padding-left: 50px;
}
h1{
    margin: 5px 0px;
}



.songall {
    padding: 40px 10px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}



.song {
    margin: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    opacity: 0.9;
    background-color: #181818;
    transition: all 0.3s ease-in-out;
    padding: 10px;
}


.song img {
    border-radius: 10px;
    height: 70px;
    display: inline;
}

.sname {
    padding: 10px;
    width: 190px;
    text-align: left;
}

.song:hover {
    background-color: #252525;
    opacity: 0.9;
}